[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"

[packages]
discord = "*"
humanize = "*"
asyncpg = "*"
discord-py = "*"
matplotlib = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python bot.py"

[pipenv]
allow_prereleases = true
